In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('athlete_events.csv')

In [7]:
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [18]:
df[['Name','Sex','Sport', 'Medal']].sort_values(by='Medal', ascending=True)

                                     Name Sex                Sport   Medal
104480       Yevgeniya Andreyevna Ivanova   F           Water Polo  Bronze
236585  Matthew Stephen C. "Matt" Targett   M             Swimming  Bronze
112610                     Wandee Kameaim   F        Weightlifting  Bronze
112604                   Reneta Kamberova   F  Rhythmic Gymnastics  Bronze
112580                      Mitsuo Kamata   M             Football  Bronze
...                                   ...  ..                  ...     ...
271111                         Andrzej ya   M                 Luge     NaN
271112                           Piotr ya   M          Ski Jumping     NaN
271113                           Piotr ya   M          Ski Jumping     NaN
271114                 Tomasz Ireneusz ya   M            Bobsleigh     NaN
271115                 Tomasz Ireneusz ya   M            Bobsleigh     NaN

[271116 rows x 4 columns]

In [19]:
freq = pd.Series('Sex'.join(df['Sex']).split()).value_counts()[-10:]
freq

KeyError: 'M'

In [13]:
freq = list(freq.index)
data['Sex'] = data['Sex'].apply(lambda x: "M".join(x for x in x.split() if x not in freq))
data['Sex'].head()

NameError: name 'freq' is not defined